<ion-view view-title="Restaurant Items">
  <ion-content><br>
    <div class="list card">
    <div ng-repeat="item_det in list_dets">
      <div class="item item-body" ng-click="select_item(item_det.item_id)">
        <img class="full-image" src={{item_det.url}}>
        <p><center>{{item_det.item_name}}</center>
          <div class="cost">
            Cost: {{item_det.cost}}
          </div>
          <div class="rating">
            Rating: {{item_det.rating}}
          </div><br>
          <p id="para">
            Biryani is the special of our Restaurant.
          </p>
          <div class="cost">
            Type: {{item_det.status}}
          </div>
          <div class="add_cart">
          <ion-checkbox class="checkbox-positive" ng-click="item_clicked(item_det.item_id)">Add to Cart</ion-checkbox>
          </div>
      </p>
      </div>
    </div>
    </div>
    <center><button class="button button-positive" ng-click="place_order()">
        Place Order
    </button></center>
  </ion-content>
</ion-view>
